- @EVE-Morgue/maintainers
  /apps/server/EVEMorgue.API/ @EVE-Morgue/backend-team
  /apps/server/EVEMorgue.Core/ @EVE-Morgue/backend-team
  /apps/client/ @EVE-Morgue/frontend-team
  /docs/ @EVE-Morgue/maintainers
